node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.log

# secrets
settings.json
.env
.env.local
.env.*.local

# OS / IDE
Thumbs.db
.idea/
